astroid<=3.1.0-dev0
autopep8
blinker
click
dill
ecdsa
Flask==2.2.5
Flask-Cors
Flask-SQLAlchemy
future
greenlet
gunicorn
importlib-metadata
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
pip
platformdirs
psycopg2-binary
pyasn1
pycodestyle
pycrypto
pylint
python-dotenv
python-jose
rsa
setuptools
six
SQLAlchemy
tomli
tomlkit
typed-ast
typing_extensions
Werkzeug
wheel
wrapt
zipp